.LcdTxt,
.reverseLcdTxt,
.blink0LcdTxt,
.blink0reverseLcdTxt,
.blink1LcdTxt,
.blink1reverseLcdTxt,
.lcd
{
  FONT-FAMILY: Courier;
  FONT-SIZE: 28px;
}

.lcd
{
  BACKGROUND-COLOR: rgb(176,219,191);
  COLOR: rgb(98,132,196);
  PADDING-RIGHT: 0px;
  PADDING-BOTTOM: 0px;
  PADDING-LEFT: 0px;
  PADDING-TOP: 0px;
  MARGIN: 0px;
  BORDER: 5px solid black;
}

.reverseLcdTxt,
.blink0reverseLcdTxt
{
  COLOR: rgb(176,219,191);
  BACKGROUND-COLOR: rgb(98,132,196);
}

.blink1reverseLcdTxt
{
  COLOR: rgb(98,132,196);
  BACKGROUND-COLOR: rgb(98,132,196);
}

.LcdTxt,
.blink0LcdTxt
{
  BACKGROUND-COLOR: rgb(176,219,191);
  COLOR: rgb(98,132,196);
}

.blink1LcdTxt
{
  BACKGROUND-COLOR: rgb(176,219,191);
  COLOR: rgb(176,219,191);
}

.btnCold
{
  cursor: pointer;
  width: 50px;
  height: 50px;
  FONT-SIZE: 38;
  color: rgb(254,242,0);
  TEXT-ALIGN: center;
  TEXT-DECORATION: none;
  BORDER: 1px solid rgb(254,242,0);
  cursor: pointer;
}
.btnHot
{
  cursor: pointer;
  width: 50px;
  height: 50px;
  COLOR: rgb(98,132,196);
  FONT-SIZE: 38;
  BACKGROUND-COLOR: rgb(254,242,0);
  BORDER: 1px solid rgb(254,242,0);
  TEXT-ALIGN: center;
  TEXT-DECORATION: none;
}
TD.btn
{
  TEXT-ALIGN: center;
}
BODY
{
  BACKGROUND-COLOR: rgb(0,174,240);
  color: rgb(254,242,0);
  FONT-FAMILY: Arial;
  FONT-SIZE: 14px;
}
.scanfloater
{
  BACKGROUND-COLOR: rgb(0,174,240);
  color: rgb(254,242,66);
  FONT-FAMILY: Arial;
  FONT-SIZE: 14px;
  z-index:10; position:absolute;
  border:1px solid rgb(254,242,0);
  visibility: hidden; 
  height: 22px; width: 280px;
  
}
