.LcdTxt,
.rvsLcdTxt,
.blnk0LcdTxt,
.blnk0rvsLcdTxt,
.blnk1LcdTxt,
.blnk1rvsLcdTxt,
.lcd
{
  FONT-FAMILY: Courier;
  FONT-SIZE: 28px;
}

.lcd
{
  BACKGROUND-COLOR: rgb(176,219,191);
  COLOR: rgb(98,132,196);
  PADDING-RIGHT: 0;
  PADDING-BOTTOM: 0;
  PADDING-LEFT: 0;
  PADDING-TOP: 0;
  MARGIN: 0;
  BORDER: 5px solid black;
}

.rvsLcdTxt,
.blnk0rvsLcdTxt
{
  COLOR: rgb(176,219,191);
  BACKGROUND-COLOR: rgb(98,132,196);
}

.blnk1rvsLcdTxt
{
  COLOR: rgb(98,132,196);
  BACKGROUND-COLOR: rgb(98,132,196);
}

.LcdTxt,
.blnk0LcdTxt
{
  BACKGROUND-COLOR: rgb(176,219,191);
  COLOR: rgb(98,132,196);
}

.blnk1LcdTxt
{
  BACKGROUND-COLOR: rgb(176,219,191);
  COLOR: rgb(176,219,191);
}

.btnCold
{
  cursor: pointer;
  width: 56px;
  height: 50px;
  FONT-SIZE: 38px;
  color: rgb(254,242,0);
  TEXT-ALIGN: center;
  TEXT-DECORATION: none;
  BORDER: 1px solid rgb(254,242,0);
}
.btnHot
{
  cursor: pointer;
  width: 56px;
  height: 50px;
  COLOR: rgb(98,132,196);
  FONT-SIZE: 38px;
  BACKGROUND-COLOR: rgb(254,242,0);
  BORDER: 1px solid rgb(254,242,0);
  TEXT-ALIGN: center;
  TEXT-DECORATION: none;
}
TD
{
  COLOR: rgb(254,242,0);
}
a:link { COLOR: rgb(254,242,0); }
a:visited{ COLOR: rgb(254,242,0); }
a:hover{ COLOR: rgb(254,242,0); }
a:active{ COLOR: rgb(254,242,0); }
.btn
{
  FONT-SIZE: 38px;
  COLOR: rgb(254,242,0);
  TEXT-ALIGN: center;
}
BODY
{
  BACKGROUND-COLOR: rgb(0,174,240);
  color: rgb(254,242,0);
  FONT-FAMILY: Arial;
  FONT-SIZE: 14px;
}
.scanfloater
{
  BACKGROUND-COLOR: rgb(0,174,240);
  color: rgb(254,242,66);
  FONT-FAMILY: Arial;
  FONT-SIZE: 14px;
  z-index:10; position:absolute;
  border:1px solid rgb(254,242,0);
  visibility: hidden; 
  height: 44px; width: 900px;
  left: 120px;
  
}
input, select, textarea{
  background-color : rgb(0,150,200); 
    color: rgb(254,242,0);
}

textarea:focus, input:focus {
    color: rgb(254,242,0);
}
input, textarea {

  background-color : rgb(0,150,200); 

}

select option {
  background-color : rgb(0,150,200); 
}
form {display:inline; margin: 0; padding: 0; }

.ptr {
  cursor:pointer;
}

a.tooltip {text-decoration:none; outline:none; font-weight: bold; font-size: larger; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:5px 5px;
    margin-top:-10px; margin-left:10px;
    width:150px; line-height:15px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
a.bigtooltip {text-decoration:none; outline:none; font-weight: bold; font-size: larger; }
a.bigtooltip strong {line-height:30px;}
a.bigtooltip:hover {text-decoration:none;} 
a.bigtooltip span {
    z-index:10;display:none; padding:5px 5px;
    margin-top:-10px; margin-left:10px;
    width:300px; line-height:15px;
}
a.bigtooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
a.bigtooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
